<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <title>לשלם לפאב</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
</head>

<body oncontextmenu="return false;">

    <div id="sideNav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">⋘</a>
        <a href="#" onclick="bgSelect(1)" onclick="clearTimeout(window.tcm)">רקע 1</a>
        <a href="#" onclick="bgSelect(2)" onclick="clearTimeout(window.tcm)">רקע 2</a>
        <a href="#" onclick="bgSelect(3)" onclick="clearTimeout(window.tcm)">רקע 3</a>
        <a href="#" onclick="bgSelect(4)" onclick="clearTimeout(window.tcm)">רקע 4</a>
        <a href="#" onclick="bgSelect(5)" onclick="clearTimeout(window.tcm)">רקע 5</a>
        <br>
        <a href="#">שמירת<br> נתונים</a>
      </div>

      <span class="elementOpen" onclick="openNav()">⋙</span>

    <div class="grid" id="gridContent">

        <%- include('./partials/header'); %>
        
        <input type="search" name="searchBoxName" class="searchBox" id="searchBox" spellcheck="false" placeholder=" שלום נא להכניס שם ">
        <div class="autoCompleteNone" id="autoComplete">
        </div>

        <div class="userStateIndicator" id="userStateIndicator"></div>

        <div class="items">
            <div class="item" onpointerup="add(1)">
                <p><%=item1%></p>                
                <img src="img/beer-large.png">
                <count id="count1"></count>
            </div>
            <div class="item" onpointerup="add(2)">
                <p><%=item2%></p>                
                <img src="img/beer-small.png">
                <count id="count2"></count>
            </div>
            <div class="item" onpointerup="add(3)">
                <p><%=item3%></p>                
                <img src="img/drinks.png">
                <count id="count3"></count>
            </div>
            <div class="item" onpointerup="add(4)">
                <p><%=item4%></p>                
                <img src="img/mushroom.png">
                <count id="count4"></count>
            </div>
        </div>
    </div>

    <div class="errorMessage" id="errorMessage"></div>

    <div class="buttons" id="buttons">
        <button id="cancel" onclick="add(101)"> בטל</button>
        <button id="placeOrder" onclick="add(100)">בצע רישום</button>
    </div>

    <div class="messageBox" id="messageBox"></div>    
    
    <script src="js/script.js"></script>    

    <%- include('./partials/footer'); %>

    <div class="background3" id="backgroundPanel">
        <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
     </div>
    
</body>
</html>