<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">    
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <title>לשלם לפאבDEV</title>
</head>

<body oncontextmenu="return false;">

    <div id="sideNav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img src="img/ui/menu_close.png"></a>
        <a href="#" onclick="bgSelect(1)" onclick="clearTimeout(window.tcm)">רקע עיגולים</a>
        <a href="#" onclick="bgSelect(2)" onclick="clearTimeout(window.tcm)">רקע ריבועים</a>
        <a href="#" onclick="bgSelect(3)" onclick="clearTimeout(window.tcm)">רקע טבעות</a>
        <a href="#" class="hidden" id="user_info" onclick="getUserInfoById()">משתמש</a>
        <!-- <a href="#" id="fs_mark" onclick="fullScreen()">מסך מלא</a> -->
      </div>

      <span class="elementOpen" onclick="openNav()"><img src="img/ui/menu_top03.png"></span>

    <div class="content" id="content">

        <%- include('./partials/header'); %>

        <div class="searchBoxDiv" id="searchBoxDiv">
            <div class="userStateIndicator" id="userStateIndicator">
                <p></p>
            </div>
            <input type="search" name="searchBoxName" class="searchBox" id="searchBox" spellcheck="false" placeholder="שלום הכניסו שם✍👉👉">
            <div class="autoCompleteNone" id="autoComplete"></div>
        </div>

        <div class="messageBox column" id="messageBox"></div>

        <div class="items">
            <% products.forEach(function(row) {var id = row.itemnumber;var name = row.itemname;var price = row.price;var img = row.itemimgpath;%>
                <div class="item" id="<%=id%>Div" onpointerup="add(<%=id%>)">
                    <p><%=name%></p>
                    <img src="<%=img%>">
                    <p class="p2" id="<%=id%>price"><%=price%> ₪</p>
                    <count class="counts" id="count<%=id%>"></count>
                  </div>
              <% }); %>
        </div>        

        <div class="buttons" id="buttons">
            <!-- <div class="errorMessage" id="errorMessage"></div> -->
            <button id="cancel" onclick="add(101)"> בטל</button>
            <button id="placeOrder" onclick="add(100)">בצע רישום</button>
        </div>        

    </div>    

    <div class="backgroundCanvas">
        <canvas class="canvas" id="canvas"></canvas>
    </div>

    <!-- <%- include('./partials/footer'); %> -->

    <script src="js/script.js"></script>
    <script src="js/bgFuncs.js"></script>

    <!-- <div class="backgroundTest"></div> -->

    <div class="hidden" id="backgroundPanel1">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
     </div>

    <ul class="background3" id="backgroundPanel2">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
     </ul>
    
</body>
</html>