<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>לשלם לפאב</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
</head>
<body>
    <!-- <div class="menu" >
        <input type="button" value="1" onclick="bgSelect(1)">רקע 1</input>
        <input type="button" value="2" onclick="bgSelect(2)">רקע 2</input>
        <input type="button" value="3" onclick="bgSelect(3)">רקע 3</input> 
    </div> -->

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">⋘</a>
        <a href="#" onclick="bgSelect(1)" onclick="clearTimeout(window.tcm)">רקע 1</a>
        <a href="#" onclick="bgSelect(2)" onclick="clearTimeout(window.tcm)">רקע 2</a>
        <a href="#" onclick="bgSelect(3)" onclick="clearTimeout(window.tcm)">רקע 3</a>
        <a href="#">אפשרות</a>
      </div>

      <span class="elementOpen" onclick="openNav()">⋙</span>

    <div class="grid" id="gridContent">

        <%- include('./partials/header'); %>

        <input type="search" name="searchBoxName" id="searchBox" onkeyup="searchBox()" placeholder=" שלום נא להכניס שם ">

        <div class="autoCompleteNone" id="autoComplete">
        </div>

        <div class="items">
            <div class="item" onclick="add(1)">
                <p><%=item1%></p>                
                <img src="img/beer-large.png">
                <count id="count1"></count>
            </div>
            <div class="item" onclick="add(2)">
                <p><%=item2%></p>                
                <img src="img/beer-small.png">
                <count id="count2"></count>
            </div>
            <div class="item" onclick="add(3)">
                <p><%=item3%></p>                
                <img src="img/drinks.png">
                <count id="count3"></count>
            </div>
            <div class="item" onclick="add(4)">
                <p><%=item4%></p>                
                <img src="img/mushroom.png">
                <count id="count4"></count>
            </div>
        </div>
    </div>

    <div class="buttons" id="buttons">
        <button id="cancel" onclick="add(101)"> בטל</button>
        <button id="placeOrder" onclick="add(100)">בצע רישום</button>
    </div>

    <div id="textbox"></div>    

    <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
    
    <script src="js/script.js"></script>
    <script>
        var msg1 = ("<%= (msg1) %>");        
    </script>
    <%- include('./partials/footer'); %>

    <div class="background1" id="backgroundPanel">
        <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
     </div>
    
</body>
</html>